<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dash Board</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="root">
        <section id="main">
            <article>
                <div class="back"><a href="/app/v1/blogs/dashboard">Home</a></div>
                <ul>
                    <a href="/app/v1/blogs/">Get Blogs</a>
                    <a href="/app/v1/admin/logout">Logut</a>
                </ul>
            </article>
        </section>
    </div>
    <h1>Admin Dash Board</h1>
</body>

</html>