<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
    <div id="root">
        <section id="main">
            <article>
                <div class="back"><a href="/app/v1/blogs/dashboard">Home</a></div>
                <ul>
                    <a href="/app/v1/user/logout">Logut</a>
                </ul>
            </article>
        </section>
    </div>
    <main>
        <div class="blogs">
          <% blogs.forEach(blog=>{%>
          <div class="blog">
            <h3 class="blog-title"><%= blog.title%></h3>
            <p><%= blog.snippet%></p>
            <p>By-<%= blog.author.name%></p>
          
          <a href="/app/v1/blogs/<%= blog._id%>"><button>View</button></a>
            </div>
          <%})%>
        </div>
      </main>
</body>

</html>